venv/
.venv/
env/
__pycache__/
*.pyc

services/train_service/venv/
services/**/venv/
services/**/.venv/
services/train_service/models/*.pkl
*.pkl
*.joblib
*.h5
*.pt
*.pth

node_modules/
dist/
build/*.zip
